<ion-navbar *navbar>
  <ion-title>
    Parallel Columns
  </ion-title>
</ion-navbar>


<ion-content>
  <ion-content class="left-col">

  <!-- <ion-content> -->
  <!-- <ion-row>
    <ion-col width-50> -->
      <ion-list>

        <div *ngFor="#item of left_col; #i = index">
          <ion-card
            tappable
            (click)="onDrop(i)"
            drop-area
            *ngIf="selection.length > 0">
            Нажми сюда, чтобы перетащить сюда
          </ion-card>
          <ion-card>
            <img src="{{item.image}}">
            <ion-card-content>
              {{item.title}}
            </ion-card-content>
          </ion-card>
        </div>

        <ion-card
          tappable
          (click)="onDrop(left_col.length)"
          drop-area
          *ngIf="selection.length > 0">
          Нажми сюда, чтобы перетащить сюда
        </ion-card>

      </ion-list>
      <!-- <ion-scroll scrollY="true">
      </ion-scroll>
    </ion-col> -->

  </ion-content>
  <ion-content class="right-col">

    <!-- <ion-col width-50> -->
      <ion-list >
        <ion-card *ngFor="#item of right_col; #i = index"
          tappable (click)="onCardClicked(item, i)"
          [ngClass]="{is_selected: item.is_selected}">
          <img src="{{item.image}}">
          <ion-card-content>
            {{item.title}}
          </ion-card-content>
        </ion-card>
      </ion-list>
      <!-- <ion-scroll scrollY="true">
      </ion-scroll> -->

    <!-- </ion-col>
  </ion-row> -->

  </ion-content>

</ion-content>
